body{
    background-image: url("../img/pattern.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul li{
    display: inline-block;
    padding-right: 20px;
}

section{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    background-color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

article{
    border-bottom: solid 0.25px;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    margin-bottom: 20px;    
}

h5{
    margin: auto;
}